# Virtual Environment
venv/
asl-env/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode
.vscode/


# Streamlit logs (optional)
.streamlit/

# OS files
.DS_Store
Thumbs.db

asl-detect/dataset_retrain/